<!DOCTYPE html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
  <title>More about me</title>
  <style>
    body {
      text-align: center;
      background: url(http://i.imgur.com/jECutYR.jpg?1);
      background-size: shrink;
      background-position: center;
      color: white;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size:30px
    }
    header {
      text-align: center;
      font-family: "HelveticaNeue-Light", cursive;
      font-size: 30px;
      margin: 2px 0 0 0;
    }
    h2 {
      text-align: center;
      font-family: 'sans-serif', cursive;
      font-size: 20px;
      margin: -60px 0 0 0;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    div {
      height: 200px
      margin: 40px 0 -100px 0;
      border-radius: 12px;
    }
    p {
      color: white;
      background: rgba(0,0,0,0.4);
      border-radius: 20px;
      padding: 50px;
      line-height:28px;
      text-align: justify;
      bottom: 10px;
      margin: 10px;
      height: 20px;
      transition: height 1s;
    }
    small {
      opacity: 0;
    }
    .show-description p {
      height: 150px;
    }

    .show-description small {
      opacity: 1;
    }
    .ans {
    float: right;
    }

  </style>
</head>

<body>
  <header>
    <h1>More about me!</h1>
    
  </header>

<p> From the background images, you can probably tell that sport and film are two of my major interests. I watch a movie nearly every day, including weekdays.

I currently attend the University of Cape Town, where I am studying Analytics and hoping to qualify with Honours in Statistics and Finance.

Computers intrigued and intimidated me for a large part of my life and when Computer Science was added to my curriculum, I pleaded with my supervisor for a way out. My mindset recently changed and I have been introduced to the importance of programming.</p>
<p>
</p>

<p><a href="/">HOME</a> is a link to my home page

</p> 



  
  <script>
  $('div').on('click', function() {
      $(this).toggleClass('show-description');
  });
</script>

</body>
